<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% result.forEach(element=>{ %>
        <h2>NAME: <%= element.name %> </h2>
        <img src="<%=element.image=>" >  
       <p>LEVEL:  <%=element.level=></p>
       <a href="../views/detail-page.ejs">Details</a>
       <%})%>
     
    
</body>
</html>